.pop-up-block {
    background-color: white;
    gap: 24px;
    width: 533px;
    height: 500px;
    border-radius: 28px;
    box-sizing: border-box;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    display: none;
    animation: 1s show ease;
}

.pop-up-block.active {
    display: block;
    position: absolute;
}

.pop-up__scroll_padding {
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 24px;
}

.pop-up__scroll {
    height: 330px;
    overflow-y: scroll;
}

.pop-up__scroll::-webkit-scrollbar {
    width: 4px; /* ширина всей полосы прокрутки */
}

.pop-up__scroll::-webkit-scrollbar-track {
    background: transparent; /* цвет зоны отслеживания */
}

.pop-up__scroll::-webkit-scrollbar-thumb {
    background: #f0f2f7;
    border-radius: 4px;
}

.pop-up__top {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    align-items: start;
    padding: 24px 24px 0 24px;
    box-sizing: border-box;
}
.pop-up__top_picture {
}
.pop-up__top_text-wr {
    transform: translate(20px, -8px);
}
.pop-up__top_title-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #26314f;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    line-height: 0;
}
.pop-up__top_text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8998b6;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    line-height: 11px;
}

.pop-up__search {
    margin-top: -3px;
    padding-left: 24px;
}
.pop-up__search_input {
    box-sizing: border-box;

    padding: 12px 16px;
    gap: 8px;
    width: 485px;
    height: 44px;

    /* Default color/0 */

    background-color: #ffffff;
    background-image: url(../img/PopUp/LoopPc.svg);
    background-position: 96.6% 40%;
    background-repeat: no-repeat;
    /* Default color/20 */

    border: 1px solid #dae1ef;
    border-radius: 40px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Default color/30 */

    color: #bac3d5;
}

.pop-up__question {
    width: 100%;
    margin-top: 20px;
}
.pop-up__question_wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;

    &::after {
        content: "";
        background: #f0f2f7;
        border-radius: 1px;
        position: absolute;
        bottom: -7px;
        left: 0;
        width: 100%;
        height: 1px;
    }
}
.pop-up__question_text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0;
    color: #26314f;
    cursor: pointer;
}
.pop-up__question_img {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}

.pop-up__cross {
    position: absolute;
    top: -15px;
    left: 94%;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.pop-up__answer {
}
.pop-up__answer_top {
    display: grid;
    justify-items: start;
    margin-top: 25px;
    grid-template-columns: 6.7% 1fr;
}
.pop-up__answer_img {
    display: block;
    cursor: pointer;
}
.pop-up__answer_img.active {
    display: none;
}
.pop-up__answer_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #26314f;
    line-height: 0;
    margin-top: 13px;
}
.pop-up__answer_main {
    min-height: 50px;
    display: flex;
    align-items: center;
    background: #f0f2f7;
    border-radius: 8px;
    margin-top: 21px;
    // transition: 0.7s;
    border: 1px solid #f0f2f7;
}
.pop-up__answer_main.active {
    border: 1px solid #f0f2f7;
    border-radius: 8px;
    width: 485px;
    margin-bottom: 1px;
    padding: 0 12px;
    box-sizing: border-box;
    // transition: 0.7s;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    background: white;
}

.pop-up__answer_question-top {
    display: grid;
    justify-items: start;
    padding-top: 12px;
    grid-template-columns: 95.2% 1fr;
    width: 100%;
    padding: 0 12px;
    align-items: center;
}
.pop-up__answer_question-top.active {
    padding-top: 0;
    width: 100%;
    transition: 0.3s;
    padding: 0 12px;
    width: 100%;
    padding: 0;
    margin-top: 12px;
}
.pop-up__answer_top-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    /* Default color/100 */

    color: #26314f;
    margin-top: 9px;
}
.pop-up__answer_plus {
}
.pop-up__answer_minus {
}
.pop-up__answer__text {
    margin-top: 0;
}
.pop-up__answer__text_text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #464d62;

    a {
        color: #5438a8;
    }
    position: absolute;
    top: 0px;
    opacity: 0;
    left: 0;
}

.pop-up__answer__text_text.active {
    position: relative;
    opacity: 1;
    top: 0;
}

.pop-up__empty {
    margin-top: 24px;
}
.pop-up__empty_text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;

    /* Default color/90 */

    color: #464d62;
    width: 100%;
    text-align: center;
}

// .box {
//     animation: 5s show ease;
// }

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.open-animation {
    animation: 0.7s show ease;
}

.close-animation {
    animation: 0.7s hide ease;
}

.open-animation-fast {
    animation: 0.3s show ease;
}
.close-animation-fast {
    animation: 0.3s hide ease;
}

@media screen and (max-width: 576px) {
    .pop-up-block {
        width: 343px;
        border-radius: 18px;
        padding: 0;
        /* padding-right: 29px; */
    }
    .pop-up__top {
        padding: 19px 15px 0;
    }
    .pop-up__top_picture {
    }
    .pop-up__top_text-wr {
        transform: translate(26px, -8px);
        width: 90%;
    }
    .pop-up__top_title-text {
        font-size: 20px;
    }
    .pop-up__top_text {
        font-size: 12px;
        line-height: 15px;
    }

    .pop-up__search {
        margin-top: -11px;
        padding-left: 15px;
    }
    .pop-up__search_input {
        width: 311px;
        height: 44px;
        font-size: 14px;
        line-height: 20px;
        background-position: 94.6% 40%;
    }

    .pop-up__question {
        width: 104%;
    }
    .pop-up__question_wr {
        margin-bottom: 16px;
        width: 99%;
    }
    .pop-up__question_text {
        font-size: 16px;
    }
    .pop-up__question_img {
    }
    .pop-up__scroll_padding {
        padding-left: 16px;

        padding-right: 12px;
    }

    .pop-up__cross {
        top: -7px;
        left: 90.8%;
    }
    .pop-up__answer_top {
        grid-template-columns: 10.7% 1fr;
    }
    .pop-up__answer_main.active {
        width: 100%;
        margin-top: 18px;
        box-sizing: border-box;
    }
    .pop-up__answer_question-top {
        margin-top: -1px;
    }
    .pop-up__answer_top-text {
        font-size: 16px;
    }
    .pop-up__answer_plus {
        transform: translate(-8px, -4px);
    }
    .pop-up__answer__text {
        margin-top: -15px;
    }
    .pop-up__answer_question-top.active {
        margin-top: -1px;
    }
}

@media screen and (max-width: 374px) {
    .pop-up-block {
        width: 95%;
    }
    .pop-up__search_input {
        width: 100%;
    }
}
.none {
    display: none;
}
