@import "vidget.scss";
@import "popUp.scss";

body {
    margin: 0;
}

.main {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

* {
    // border: 1px solid red;
}
